<section class="h-100 gradient-form">
  <!-- Video in the background -->
  <div class="video-container">
    <video autoplay muted loop class="background-video">
      <source src="assets/video2.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-6 col-md-8">
        <div class="card rounded-3 text-black" style="background-color: rgba(36, 34, 41, 0.8);">
          <div class="row g-0">
            <div class="col-12">
              <div class="text-center">
                <h2 class="text-white">Réinitialiser votre mot de passe</h2>
              </div>
              <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <!-- Nouveau mot de passe -->
                <div class="form-outline mb-4">
                  <input type="password" id="password" class="form-control"
                    formControlName="password" placeholder="Nouveau mot de passe" />
                  <label class="form-label" for="password">Nouveau mot de passe</label>
                </div>

                <!-- Confirmation du mot de passe -->
                <div class="form-outline mb-4">
                  <input type="password" id="confirmPassword" class="form-control"
                    formControlName="confirmPassword" placeholder="Confirmer le mot de passe" />
                  <label class="form-label" for="confirmPassword">Confirmer le mot de passe</label>
                </div>

                <!-- Bouton de soumission -->
                <div class="text-center pt-1 mb-5 pb-1">
                  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" 
                    type="submit" [disabled]="resetPasswordForm.invalid">
                    Réinitialiser le mot de passe
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
