<header>
  <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RecruNet</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="video-container">
  <video class="video" autoplay muted loop>
    <source src="assets/video2.mp4" type="video/mp4" />
  </video>
</div>

<div class="content">
  <div>
    <h1>Bienvenue sur RecruNet</h1>
    <p>
      <span>Découvrez les offres d'emploi dans le domaine de l'informatique<br>et profitez de vos chances pour décrocher le poste de vos rêves</span>
    </p>
    <p>Plateforme de gestion de recrutement</p>
    <div class="buttons">
      <button
        type="button"
        class="btn btn-primary custom-btn"
        (click)="candidat()"
      >
        Candidats
      </button>
      <button
        type="button"
        class="btn btn-success custom-btn"
        (click)="recruteur()"
      >
        Recruteurs
      </button>
      <button
        type="button"
        class="btn btn-warning custom-btn"
        (click)="admin()"
      >
        Admin
      </button>
    </div>
  </div>
</div>

<footer class="bg-dark text-white text-center py-3">
  <p>&copy; 2024 RecruNet. Tous droits réservés.</p>
</footer>
